@import "./globals.scss";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba($darkGray, $alpha: 0.2);

  //TikTok Logo
  .homeLogoButton {
    background: none;
    border: none;
    cursor: pointer;
    width: 10%;

    .fullSizeLogo {
      width: 118px;
      height: 42px;
    }
  }

  .searchBar {
    width: 40%;
  }

  //Upload and login buttons
  .actionButtons {
    min-width: 250px;
    width: 10%;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  //Buttons that are shown, if the user is signed in
  .profileInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .iconButton {
      background: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .messages {
        width: 32px;
        height: 24px;
      }
    }

    .profileAvatar {
      background: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      width: 32px;
      height: 32px;
      border-radius: 50%;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }
  }

  @media only screen and (max-width: 750px) {
    .searchBar {
      display: none;
    }
  }

  @media only screen and (max-width: 450px) {
    .homeLogoButton {
      .fullSizeLogo {
        width: 98px;
        height: auto;
      }
    }
  }
}
