@import "./globals.scss";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba($darkGray, $alpha: 0.2);

  //TikTok Logo
  .homeLogoButton {
    background: none;
    border: none;
    cursor: pointer;
    width: 10%;

    .fullSizeLogo {
      width: 118px;
      height: 42px;
    }
  }

  .searchBar {
    width: 40%;
  }

  .actionButtons {
    min-width: 250px;
    width: 10%;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  @media only screen and (max-width: 750px) {
    .searchBar {
      display: none;
    }
  }

  @media only screen and (max-width: 450px) {
    .homeLogoButton {
      .fullSizeLogo {
        width: 98px;
        height: auto;
      }
    }
  }
}
