@import "./globals.scss";

.sidebarContainer {
  width: 16rem;
  height: 100%;

  .navigationButtons {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid rgba($darkGray, $alpha: 0.1);

    button {
      width: 100%;
      text-align: left;
      background: none;
      border: none;
      font-size: 16px;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      padding: 0.5rem 1rem;
      transition: all ease-in-out 0.1s;
      cursor: pointer;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:hover {
        background-color: rgba($darkGray, $alpha: 0.05);
      }
    }

    .selected {
      color: $accentColor;

      //Filter that changes sidebar button icon color to pink
      .navIcon {
        filter: invert(33%) sepia(64%) saturate(5250%) hue-rotate(332deg)
          brightness(101%) contrast(101%);
      }
    }
  }

  .loginSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid rgba($darkGray, $alpha: 0.1);

    p {
      width: 90%;
      font-size: 16px;
      color: rgba($darkGray, $alpha: 0.6);
    }
  }

  .suggestedAccounts {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      width: 90%;
      font-size: 14px;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      color: rgba($darkGray, $alpha: 0.7);
    }

    button {
      padding: 0.2rem 1rem;
      width: 100%;
      background: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      transition: all ease-in-out 0.1s;
      cursor: pointer;

      .profileImage {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      div {
        width: 100%;

        .username {
          font-size: 14px;
          font-weight: 600;
          color: #000;
          text-align: left;
        }
      }
      &:hover {
        background-color: rgba($darkGray, $alpha: 0.05);
      }
    }
  }
}

//Media query for mobile screens
@media only screen and (max-width: 700px) {
  .sidebarContainer {
    width: 4rem;
    border-right: 1px solid rgba($darkGray, $alpha: 0.1);

    .navigationButtons {
      button {
        .isVisible {
          display: none;
        }
      }
    }

    .suggestedAccounts {
      padding: 1rem 0;

      button {
        padding: 1rem 0.2rem;
      }

      .hide {
        display: none;
      }
    }

    .loginSection {
      display: none;
    }
  }
}
